.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

.dragactive {
  background-color: rgb(29, 45, 138);
}

.dragcomplete {
  background-color: rgb(255, 38, 0);
}

.drag {
  box-shadow: 0 0 20px black;
}
